<strong>Olá, {{ name }}</strong>
<p>Sua dúvida foi respondida, confira a resposta abaixo:</p>
<p>
  <strong>Pergunta: </strong>{{ question }} <br/>
  <strong>Resposta: </strong>{{ answer }} <br/>
  <strong>Data respota: </strong>{{ answerAt }} <br/>
  <br/>
  <small>Muito obrigado pelo seu contato! Qualquer dúvida estamos a disposição!</small>
</p>
